{% load static %}
<!-- filepath: /c:/Users/eddys/Documents/1_Universidad/8vo/Inteligencia de negocios/music_library/Applications/Library/templates/template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <title>CINE</title>
    <!--Importacion JQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--Importamos Bootstrap-->
    <link rel="stylesheet" href="{% static 'static/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'static/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--Importando DataTables-->
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <script src="//cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'comunicado_list' %}">Users</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block body %}
        {% endblock %}
    </div>
    <footer class="text-center mt-4">
        <h2>Develop: Eddy Sopalo</h2>
    </footer>
</body>
</html>